/*Fonts*/
@font-face {
  font-family: "openSans-regular"; 
  src: url("../fonts/OpenSans-Regular.woff"); 
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "openSans-bold"; 
  src: url("../fonts/OpenSans-Bold.woff"); 
  font-weight: 700;
  font-style: bold;
}


/*Normalize.css*/

body, ul, div, span, p, h1, h2 {
  margin: 0;
  padding: 0;
	border: none;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}


/**/
root {
  --main-font-color: #000000;
}

/**/
.section-title-container {
	display: flex;
	justify-content: center;
	align-items: top;
	
	height: 120px;

	padding-top: 45px;
	box-sizing: border-box;
}

.section-title {
  font-family: openSans-bold;
  font-size: 20px;
  text-transform: uppercase;
  color: #0f0d0e;
}

.section-title::after {
  content: "";
  display: block;
  width: 66px;
  height: 3px;
  margin: auto;
  margin-top: 9px;
  left: 50%;
  bottom: 0;
  background-color: #b59f5b;
  opacity: 0.400;
}

.article-title {
  font-size: 20px;
  text-transform: uppercase;
  color: #0f0d0e;
  font-family: openSans-bold;
}

.link-button {
  background-color: #b59f5b;
  font-family: openSans-bold;
  font-size: 14px;
  text-transform: uppercase;
  color: #ffffff;
  border: none;
}

.link-button:hover {
	border: none;
  background-color: #323232;
}

.nav-category-list {
  display: flex;
  margin-bottom: 8px;
	flex-wrap: wrap;

	font-size: 14px;
  text-transform: uppercase;
  color: #b59f5b;
  font-family: openSans-bold;
}

.category-list-item:hover {
  text-decoration: underline;
}

.category-list-item:nth-child(n) {
  margin-right: 20px;  
}


/*Header*/
.header {
	width: 100%;

  color: #ffffff;
  position: relative;

  background-image: url(../images/banner-bg.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top center;
  z-index: 1;
}

.header::before {
  content: "";
  width: 100%;
  height: 100%;

  background-color: #000000;
  opacity: 0.6;

  position: absolute;
  left: 0;
  top: 0;
  z-index: -1;
}

.header-container {
	max-width: 1200px;
	margin: 0 auto;
	padding: 25px;
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.menu-icon {
	display: none;
}

.nav-logo {
  width: 180px;
	height: 40px;
}

.nav-menu-list {
  display: flex;
  font-size: 13px; 
  text-transform: uppercase;
  font-family: openSans-regular;  
}

.menu-list-item:nth-child(n + 2) {
  margin-left: 35px;
}

.menu-link:hover {
  text-decoration: underline;
}

.header-title-container {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 360px;
}

.header-title {
	width: 690px;
  font-family: openSans-bold;
  font-size: 45px;
  text-transform: uppercase;
	text-align: center;
}



/*Section trends*/

.trends-container {
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	height: 320px;
	gap: 5px;
}

.trend::before {
  content: "";
  width: 100%;
  height: 100%;
  background-color: #000000;
  opacity: 0.6;
  position: absolute;
  left: 0;
  top: 0;
  z-index: -1;
}

.trend {
	display: flex;
	flex-direction: column;
	justify-content: end;
	align-items: center;

	position: relative;
	padding: 15px 25px;
	z-index: 1;

	background-size: cover;
  background-repeat: no-repeat;
  background-position: top center;
}


.section-trends-article {
	display: block;
	position: relative;
	padding: 35px;
	border: 2px solid #b59f5b;
	z-index: 10;
}

.article-trend-title {
	color: #ffffff;
}

.trend-1 {
	grid-column: 1;
	background-image: url("../images/trend1.jpg");
}

.trend-2 {
	grid-column: 2;
	background-image: url("../images/trend2.jpg");
}

.trend-3 {
	grid-column: 3;
	background-image: url("../images/trend3.jpg");
}

.trend-4 {
	grid-column: 4;
	background-image: url("../images/trend4.jpg");
}

/*main-aside-container */

.main-aside-container {
  display: flex;
	justify-content: space-between;
	flex-grow: 1;
	max-width: 1200px;
	margin: 0 auto;
  padding: 65px;
}

/*Main*/

.main {
  margin-right: 135px;
}

.main-article {
  display: flex;
  align-items: flex-start;
}

.main-article:nth-child(n + 2) {
  margin-top: 60px;  
}

.article-picture {
	display: block;
  width: 380px;
  margin-right: 30px;
	flex-shrink: 0;
}

.article-intro {
  align-self: start;
}

.main-article-title {
  margin-bottom: 26px;
}

.article-title:hover {
  color: #b59f5b;
}

.article-autor {
  font-family: openSans-bold;
  font-size: 12px;
  color: #000000;
  font-style: normal;
}

.article-date {
  font-family: openSans-regular; 
  font-size: 12px;
  color: #888888;
  margin-right: 8px;
}

.article-date-autor {
  margin-bottom: 48px;
}

.article-text {
  font-family: openSans-regular;
  font-size: 15px;
  color: #0f0d0e;
  margin-bottom: 7px;
}

/*Aside*/

.aside {
  width: 270px;
	flex-shrink: 0;
}

.aside-section-title {
	font-size: 14px;
	text-align: center;
}

.latest-posts {
  margin-top: 12px;
  margin-bottom: 65px;
}

.last-article {
  display: flex;
}

.last-article:nth-child(n + 2) {
  margin-top: 21px;  
}

.last-article-picture {
  width: 70px;
  height: 70px;
  background-color: #f4f7f6;
  margin-right: 17px;
}

.last-article-date {
  font-family: openSans-regular;
  opacity: 0.541;
  font-size: 12px;
  color: #000000;
  margin-bottom: 10px;
}

.last-article-title {
  font-size: 14px;
}

.last-article-title:hover {
  color: #b59f5b;
}

.search-form {
	position: relative;
  margin-bottom: 58px;
}

.search-field {
  width: 100%;
  height: 48px;
  padding-left: 16px;
  padding-right: 64px;
  box-sizing: border-box;
  background-color: #f4f7f6;
  border: none;
  font-family: openSans-regular;
  opacity: 0.6;
  font-size: 13px;
  color: #000000;
}

.search-field:focus {
  background-color: #f4f7f6;
  border: 1px solid #b59f5b;
}

.search-button {
  width: 48px;
  height: 48px;

  border: none;

  background-color: #b59f5b;
  background-image: url("../svg/search.svg");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 20px;

	position: absolute;
	top: 0;
	right: 0;
}

.search-button:hover {
  background-color: #323232;
}

.subscribe-form {
  margin-top: 11px;
  margin-bottom: 56px;
}

.subscribe-field {
  width: 100%;
  height: 52px;
  padding-left: 15px;
  padding-right: 15px;
  margin-bottom: 15px;
  box-sizing: border-box;
  font-family: openSans-regular;
  border: none;
  opacity: 0.541;
  font-size: 13px;
  color: #000000;
  background-color: #f4f7f6;
}

.subscribe-field:focus {
  background-color: #f4f7f6;
  border: 1px solid #b59f5b;
}

.subscribe-button {
  width: 100%;
  height: 48px;
}

.tags-list {
  display: flex;
  flex-wrap: wrap;
  gap: 5px;
  margin-top: 15px;
  margin-bottom: 52px;
}

.tag-item {
  display: inline-block;
  padding-right: 15px;
  padding-left: 13px;
  padding-top: 3px;
  padding-bottom: 7px;
  text-align: center;
  font-family: openSans-bold;
  background-color: rgba(244,243,241,0);
  border: 3px solid #eeeeee;
  font-size: 12px;
  text-transform: uppercase;
  color: #0f0d0e;
}

.tag-item:hover {
  border: 3px solid #b59f5b;
}

.section-category-item {
  display: flex;
  align-items: center;
  padding-top: 15px;
  padding-bottom: 12px;
  border-bottom: 1px solid #eeeeee;
  font-family: openSans-bold;
  font-size: 14px;
  color: #000000;
}

.section-category-item:hover {
  color: #b59f5b;
}

.category-item-value {
  margin-left: 4px;
  font-size: 12px;
  color: #b59f5b;
}

/*Section-Shops*/

.section-shops-container {
	max-width: 1200px;
	margin: 0 auto;
	padding-bottom: 65px;
}

.shops-container {
	display: flex;
	justify-content: space-between;
	
}

.section-shops-article {
	display: flex;
	flex-direction: column;
	justify-content: start;
	align-items: center;
	width: 345px;
	min-height: 440px;
	padding: 0 20px 20px;
	box-sizing: border-box;
	position: relative;
	flex-grow: 1;
	flex-shrink: 1;
}

.section-shops-article:nth-child(n + 2) {
  margin-left: 60px;  
}

.section-shops-article::before {
	content: "";
  width: 100%;
	border: 2px solid #b59f5b;
  position: absolute;
  left: 0;
  bottom: 0;
	top: 175px;
}

.shops-article-picture {
	height: 205px;
	width: 100%;
	margin-bottom: 25px;
	object-fit: cover;
	flex-shrink: 0;
}

.article-text-link {
	color: #b59f5b;
	position: relative;
	z-index: 30;
}

.article-text-link:hover {
	font-size: 15px;
	color: #0f0d0e;
	font-family: openSans-regular;
}

.shops-btn-container {
	display: flex;
	justify-content: space-between;
	align-items: end;
	width: 100%;
	margin-top: 20px;
}

.shops-button {
	height: 48px;
	width: 140px;
	z-index: 20;
}

.shop-price-container {
	display: flex;
	flex-direction: column;
}

.shop-price {
	font-size: 20px;
	text-transform: uppercase;
	color: #0f0d0e;
	font-family: openSans-bold;
}

.shop-price-before {
	font-size: 14px;
	text-decoration: line-through;
}

/*Footer*/

.footer {
  display: flex;
  justify-content: center;
  align-items: center;
	max-width: 1200px;
	height: 85px;
  margin: 0 auto 70px;
  background-color: #f4f7f6;
}

.social-icon-list-item {
  display: inline-block;
  height: 20px;
  width: 20px;
  background-position: center;
  background-repeat: no-repeat;
}


.social-icon-list-item:nth-child(n + 2) {
  margin-left: 25px;  
}

.copyright {
  text-align: center;
  margin-bottom: 40px;
  
  font-size: 12px;
  color: #999999;
  font-family: openSans-bold;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
} 

.icon-dribbble {
  background-image: url("../svg/001-dribbble.svg");
}

.icon-pinterest {
  background-image: url("../svg/002-pinterest.svg");
}

.icon-tumblr {
  background-image: url("../svg/003-tumblr.svg");
}

/*Popup*/

.popup {
	display: none;

	width: 100%;
	height: 100vh;

	position: fixed;
	top: 0;
	left: 0;
	z-index: 10;
}

.popup::before {
	content: "";
	position: absolute;
	top: 0;
	left: 0;

	width: 100%;
	height: 100vh;

	background-color: #000000;
  opacity: 0.6;
	z-index: -1;
}

.popup-container {
	position: relative;
	top: 20vh;

	width: 390px;
	height: 590px;

	margin: auto;
	padding: 50px 30px;

	box-sizing: border-box;

	background-color: #fff;
}

.popup-container::before {
	content: "";
	position: absolute;
	top: -20px;
	right: 0;

	width: 15px;
	height: 15px;

	background-image: url("../svg/form-x.svg");
}

.popup-title {
	margin-bottom: 25px;
}

.form-section {
	font-size: 12px;
	margin-bottom: 30px;
}

.form-field  {
  width: 100%;
  height: 50px;

	padding: 5px 10px;

	box-sizing: border-box;

  font-family: openSans-regular;
	font-size: 10px;
	color: #000000;
	opacity: 0.6;

  border: none;
  background-color: #f4f7f6;
}

.select {
  display: inline-block;
	margin: 0;

	-webkit-appearance: none;
  -moz-appearance: none;
  
  background-image: url("../svg/form-arrows.svg");
  background-repeat: no-repeat;
	background-size: 8px 15px;
  background-position: right 10px center;
}

.email-subscribe__fields {
	display: flex;
}

.email-subscribe__field {
	margin-right: 5px;
}

.radio {
  position: absolute;
  clip: rect(1px 1px 1px 1px);
  width: 1px;
  height: 1px;
}

.radio-text {
  display: inline-block;
}

.radio-text::before {
  content: "";
  display: inline-block;
  vertical-align: middle;
  
  width: 15px;
  height: 15px;
  
  background-image: url("../svg/form-empty-circle.svg");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 15px;
}

.radio-selected::before {
	background-image: url("../svg/form-circle.svg");
}

.radio-text::before {
  margin-right: 3px;
}

.textarea {
	height: 130px;
}

.form-label {
	display: block;
	padding-bottom: 10px;
}

/*Tablet version*/

@media (max-width: 1199px) {
	/**/
	.section-title {
		font-size: 18x;
	}
	
	.article-title {
		font-size: 17px;
	}

	/*Header*/
	
	.header {
		height: 390px;
	}
	.header-title {
		width: 620px;
	}

	.header-container {
		padding: 40px 35px 20px;
	}
	.nav-menu-list {
		display: none;
	}
	.menu-icon {
		display: block;
		width: 30px;
		height: 34px;
	}

	.header-title-container {
		height: 295px;
	}
	
	.header-title {
		padding: 0 45px;
		font-size: 40px;
	}

	.section-title-container {
		height: 100px;
	}
	
	/*Trends section*/

	.trends-container {
		grid-template-columns: repeat(2, 1fr);
		grid-template-rows: repeat(2, 1fr);

		height: 500px;
		gap: 5px;

	}

	.trend-1 {
		grid-column: 1;
		grid-row: 1;
	}
	
	.trend-2 {
		grid-column: 2;
		grid-row: 1;
	}
	
	.trend-3 {
		grid-column: 1;
		grid-row: 2;
	}
	
	.trend-4 {
		grid-column: 2;
		grid-row: 2;
	}
	
	/*Main*/

	.main-aside-container {
		padding: 50px 35px;
	}
	.main {
		width: 395px;
		margin-right: 35px;
		flex-shrink: 1;
	}

	.main-article {
		flex-direction: column;
		align-items: start;

	}

	.main-article:nth-child(n + 2) {
		margin-top: 40px;  
	}
	
	.article-picture {
		width: 100%;
		margin-bottom: 15px;
	}

	/*Shops section*/

	.section-shops-container {
		padding: 0 35px 65px;
	}
	
	.shops-container {
		justify-content: space-between;
		flex-wrap: wrap;
	}

	.section-shops-article:nth-child(n + 2) {
		margin-left: 0;  
	}	

	.section-shops-article:nth-child(2n + 2) {
		margin-left: 25px;  
	}	
	.section-shops-article {
		max-width: 290px;
		height: 450px;
		margin-bottom: 30px;
		flex-shrink: 1;
	}

	.section-shops-article::before {
		height: 270px;
	}
	
	.shops-article-picture {
		width: 100%;
	}

	.footer {
		margin: 0 35px 50px;
	}
	
}

@media (max-width: 640px) {
	/*Header*/

	.header {
		display: flex;
		justify-content: center;
		align-items: center;

		height: 640px;

		background-size: cover;
		background-position: top 0 left 30%;
	}

	.header-container {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;

		padding: 0 45px;
	}

	.header-title {
		margin-top: 40px;
    padding: 0; 
	}
	
	.menu-icon {
		position: absolute;
		top: 30px;
		right: 15px;
	}
	
	.nav-logo {
		width: 270px;
		height: 65px;
	}
	
	.header-title-container {
		height: auto;
	}
	
	.header-title {
		width: 100%;
		font-family: openSans-bold;
		font-size: 26px;
	}

	/*Section trends*/

	.trends-container {
		display: flex;
		height: auto;
		flex-wrap: wrap;
		margin-bottom: 2px;
	}

	.trend {
		width: 100%;
		height: 225px;
	}

	/*main-aside-container */

	.main-aside-container {
		flex-direction: column;
		align-items: center;
		width: 100%;
  	padding: 45px 15px;
		box-sizing: border-box;
	}

	/*Main*/

	.main {
		width: 100%;
		margin-right: 0;
	}
	.article-picture {
		width: 100%;
	}

	/*Aside*/

	.aside {
  	width: 100%;
	}

	/*Shops section*/

	.section-shops-container {
		padding: 0 15px 45px;
	}
	
	.shops-container {
		justify-content: center;
		flex-wrap: wrap;
	}

	.section-shops-article:nth-child(2n + 2) {
		margin-left: 0;  
	}
	
	.section-shops-article {
		width: 100%;
		height: 490px;
		margin-bottom: 25px;
	}

	.section-shops-article::before {
		height: 270px;
	}

	.footer {
		margin: 0 15px;
	}

	.copyright {
		display: flex;
		justify-content: center;
		align-items: center;
		height: 110px;
		width: 100%;
	}

	/*Popup*/

	.popup-container {
		top: 10vh;
	
		width: 330px;
		height: 550px;
	}
	

}